@tailwind base;
@tailwind components;
@tailwind utilities;

.react-datepicker__input-container input {
  @apply block w-full cursor-pointer rounded border border-gray-300 bg-white text-base shadow-sm md:text-sm;
}

.react-datepicker-popper {
  @apply z-40 w-72 rounded border-2 border-gray-200 bg-white px-3 py-2 text-sm shadow;
}

.react-datepicker-left {
  @apply absolute left-0 right-auto top-11 transform-none !important;
}

.react-datepicker-right {
  @apply absolute right-0 left-auto top-11 transform-none !important;
}

.react-datepicker__portal {
  @apply absolute top-[115px] right-6 z-10 w-72 transform-none rounded border-2 border-gray-200 bg-white px-3 py-2 text-sm shadow;
}

.react-datepicker__month-container {
  @apply flex flex-col mb-2;
}

.react-datepicker__month {
  @apply flex flex-col;
}

.react-datepicker__current-month {
  @apply ml-2.5 text-lg font-semibold text-gray-800;
}

.react-datepicker__input-time-container {
  @apply flex items-center ml-2.5 font-semibold text-gray-800;
}

input.react-datepicker-time__input {
  @apply block cursor-pointer appearance-none rounded-lg border border-gray-300 bg-gray-50 p-2 text-sm font-normal leading-loose text-gray-700 focus:border-blue-500 focus:ring-blue-500 outline-none;
}

.react-datepicker-time__caption {
  @apply mr-2;
}

.react-datepicker__week {
  @apply flex justify-around;
}

.react-datepicker__day-names {
  @apply flex justify-around text-center text-xs font-medium text-gray-400;
}

.react-datepicker__day-name {
  @apply flex h-8 w-8 items-center justify-center rounded-full py-1;
}

.react-datepicker__navigation {
  @apply absolute top-2;
  align-items: center;
  background: none;
  display: flex;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  position: absolute;
  top: 2px;
  padding: 0;
  border: none;
  z-index: 1;
  height: 32px;
  width: 32px;
  text-indent: -999em;
  overflow: hidden;
}

.react-datepicker__navigation--previous {
  @apply right-12 flex h-8 w-8 items-center justify-center rounded transition hover:bg-gray-200;
}

.react-datepicker__navigation-icon:before {
  border-color: #ccc;
  border-style: solid;
  border-width: 4px 4px 0 0;
  content: '';
  display: block;
  height: 12px;
  position: absolute;
  top: 10px;
  width: 12px;
}

.react-datepicker__navigation-icon--previous:before {
  transform: rotate(225deg);
  right: 10px;
}

.react-datepicker__navigation-icon--next:before {
  transform: rotate(45deg);
  left: 8px;
}

.react-datepicker__navigation--next {
  @apply right-4 flex h-8 w-8 items-center justify-center rounded transition hover:bg-gray-200;
}

.react-datepicker__day {
  @apply mb-1 flex h-8 w-8 cursor-pointer items-center justify-center rounded py-1 text-sm leading-loose text-gray-700 transition hover:border;
}

.react-datepicker__day--disabled {
  @apply cursor-not-allowed opacity-40 hover:bg-transparent;
}

.react-datepicker__day--outside-month {
  @apply text-gray-300;
}

.react-datepicker__day--in-range {
  @apply bg-gray-200;
}

.react-datepicker__day--in-selecting-range {
  @apply bg-blue-200;
}

.react-datepicker__day--selecting-range-start {
  @apply border-2 border-blue-500 bg-white;
}

.react-datepicker__day--selecting-range-end {
  @apply border-2 border-blue-500 bg-white;
}

.react-datepicker__day--selected {
  @apply bg-blue-500 text-white;
}

.react-datepicker__day--range-start {
  @apply bg-blue-500 text-white hover:bg-white hover:text-gray-700;
}

.react-datepicker__day--range-end {
  @apply bg-blue-500 text-white hover:bg-white hover:text-gray-700;
}

.react-datepicker__aria-live {
  position: absolute;
  clip-path: circle(0);
  border: 0;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  width: 1px;
  white-space: nowrap;
}

/* Basic editor styles */
.ProseMirror {
  outline: none;
}

.ProseMirror h1,
.ProseMirror h2,
.ProseMirror h3,
.ProseMirror h4,
.ProseMirror h5,
.ProseMirror h6 {
  line-height: 1.1;
}

.ProseMirror h2 {
  letter-spacing: -0.02em;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0;
  font-size: 34px;
  line-height: 1.15;
  letter-spacing: -0.015em;
}

.ProseMirror h3 {
  letter-spacing: -0.02em;
  font-weight: 700;
  font-style: normal;
  font-size: 26px;
  line-height: 1.22;
  letter-spacing: -0.012em;
}

.ProseMirror p {
  font-family: 'PT Serif', Arial, Cambria, 'Times New Roman', Times, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 21px;
  line-height: 1.58;
  letter-spacing: -0.003em;
  position: relative;
}

.ProseMirror *.completing:after {
  content: 'O';
  animation: completing 2s linear infinite;
  position: relative;
  display: inline-block;
  margin-left: 5px;
}

@keyframes completing {
  0% {
    transform: rotate(0deg);
    opacity: 1;
  }
  50% {
    transform: rotate(180deg);
    opacity: 0.5;
  }
  100% {
    transform: rotate(360deg);
    opacity: 0.5;
  }
}

.ProseMirror p:first-child:before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

.ProseMirror *.completing.is-empty:before {
  content: '';
}

.ProseMirror *.completing.is-empty br {
  display: none;
}

.ProseMirror img {
  max-width: 99%;
  height: auto;
  margin: 0;
  display: inline-block;
}

.ProseMirror blockquote {
  padding-left: 1rem;
  border-left: 2px solid rgba(13, 13, 13, 0.1);
}

.ProseMirror hr {
  border: none;
  border-top: 2px solid rgba(13, 13, 13, 0.1);
  margin: 2rem 0;
}

.ProseMirror a {
  text-decoration: underline;
  color: blue;
  cursor: pointer;
  display: inline-block !important;
}

.ProseMirror pre {
  font-family: 'JetBrainsMono', monospace;
}

.ProseMirror code {
  background-color: #6161611a;
  color: #616161;
  font-family: monospace;
  font-weight: 500;
}

.ProseMirror code:before,
.ProseMirror code:after {
  display: none;
}

.ProseMirror .hljs-comment,
.ProseMirror .hljs-quote,
.ProseMirror code > div {
  color: #ccc;
}

.ProseMirror .hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #282a36;
}

.ProseMirror .hljs-built_in,
.ProseMirror .hljs-selector-tag,
.ProseMirror .hljs-section,
.ProseMirror .hljs-link {
  color: #8be9fd;
}

.ProseMirror .hljs-keyword {
  color: #ff79c6;
}

.ProseMirror .hljs,
.ProseMirror .hljs-subst {
  color: #f8f8f2;
}

.ProseMirror .hljs-title,
.ProseMirror .hljs-attr,
.ProseMirror .hljs-meta-keyword {
  font-style: italic;
  color: #50fa7b;
}

.ProseMirror .hljs-string,
.ProseMirror .hljs-meta,
.ProseMirror .hljs-name,
.ProseMirror .hljs-type,
.ProseMirror .hljs-symbol,
.ProseMirror .hljs-bullet,
.ProseMirror .hljs-addition,
.ProseMirror .hljs-variable,
.ProseMirror .hljs-template-tag,
.ProseMirror .hljs-template-variable {
  color: #f1fa8c;
}

.ProseMirror .hljs-comment,
.ProseMirror .hljs-quote,
.ProseMirror .hljs-deletion {
  color: #6272a4;
}

.ProseMirror .hljs-keyword,
.ProseMirror .hljs-selector-tag,
.ProseMirror .hljs-literal,
.ProseMirror .hljs-title,
.ProseMirror .hljs-section,
.ProseMirror .hljs-doctag,
.ProseMirror .hljs-type,
.ProseMirror .hljs-name,
.ProseMirror .hljs-strong {
  font-weight: bold;
}

.ProseMirror .hljs-literal,
.ProseMirror .hljs-number {
  color: #bd93f9;
}

.ProseMirror .hljs-emphasis {
  font-style: italic;
}

.ProseMirror code:not(:where([data-code-type='code-block'])) {
  border: none;
  padding: 0;
  border-radius: 0;
}

.tippy-box,
.tippy-content {
  outline: none; /* TODO: Improve accessibility */
}

.ProseMirror .image-error {
  @apply block bg-red-50 border border-red-300 relative w-full h-32 text-base font-normal font-sans;
}

.ProseMirror .is-editor-empty:first-child::before {
  content: attr(data-placeholder);
  float: left;
  color: #9ca3af;
  pointer-events: none;
  height: 0;
}
.ProseMirror .is-empty::before {
  content: attr(data-placeholder);
  float: left;
  color: #9ca3af;
  pointer-events: none;
  height: 0;
}

ul[data-type='taskList'] li[data-checked='true'] > div > p {
  color: #9ca3af;
  text-decoration: line-through;
  text-decoration-thickness: 2px;
}
