## This is an example of a .env.local file for the Outstatic documentation website
## You can copy this file and rename it to .env.local and fill in the required environment variables

# REQUIRED Environment variables
OST_GITHUB_ID=YOUR_GITHUB_OAUTH_ID
OST_GITHUB_SECRET=YOUR_GITHUB_OAUTH_SECRET
OST_TOKEN_SECRET=A_32CHAR_RANDOM_STRING_FOR_YOUR_TOKEN_SECRET
OST_REPO_SLUG=YOUR_REPOSITORY_SLUG
OST_REPO_BRANCH=REPO_BRANCH_OR_PR_BRANCH

# OPTIONAL Environment variables
# OPENAI_API_KEY=YOUR_OPEN_AI_API_KEY

# For more information visit: https://outstatic.com/docs/environment-variables