.outstatic-content {
  max-width: 50rem;
}

.outstatic-content code:not(:where([data-code-type='code-block'])) {
  @apply rounded-md border px-1 py-1 font-normal text-gray-800 bg-gray-100;
}

.outstatic-content :where(code):not(:where([class~='not-prose'] *))::before,
.outstatic-content :where(code):not(:where([class~='not-prose'] *))::after {
  content: '';
}

.outstatic-content a {
  text-decoration: none;
}

.outstatic-content > ol > li > :last-child,
.outstatic-content > ul > li > :last-child {
  margin-bottom: 0;
}
.outstatic-content > ol > li > :first-child,
.outstatic-content > ul > li > :first-child {
  margin-top: 0;
}

.outstatic-content blockquote p:first-of-type::before,
.outstatic-content blockquote p:last-of-type::after {
  content: '';
}

.outstatic-content :where(pre code):not(:where([class~='not-prose'] *)) {
  font-size: 1.1em;
}

.outstatic-content :where(h1, h2, h3, h4) {
  scroll-margin-top: 100px;
  position: relative;
  display: block;
  margin-right: 0.5rem;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
}

.outstatic-content :where(h1, h2, h3, h4):hover {
  text-decoration: underline;
}

/** HASH ANCHOR */
.hash-anchor {
  @apply inset-y-0 w-full;
  position: absolute;
  background-image: none;
  transition: none;
}

.hash-anchor:hover {
  text-decoration: underline;
}

.hash-anchor:hover:after,
.hash-anchor:focus:after {
  visibility: visible;
}

.hash-anchor:after {
  @apply invisible absolute -right-5 top-1/2 -translate-y-1/2 text-lg;
  content: '#';
}

/* Docs */
.docs img {
  @apply border;
}

.sidebar .prose-base :where(ul):not(:where([class~='not-prose'] *)) {
  padding-left: 0;
}

.sidebar .prose-base :where(li):not(:where([class~='not-prose'] *)) {
  list-style: none;
  padding-left: 1rem;
}

.sidebar .prose-base a {
  @apply no-underline hover:underline;
}
