/* Basic editor styles */
.ProseMirror {
  outline: none;
  padding-bottom: 40vh;
}

.ProseMirror h1,
.ProseMirror h2,
.ProseMirror h3,
.ProseMirror h4,
.ProseMirror h5,
.ProseMirror h6 {
  line-height: 1.1;
}

.ProseMirror h2 {
  letter-spacing: -0.02em;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0;
  font-size: 34px;
  line-height: 1.15;
  letter-spacing: -0.015em;
}

.ProseMirror h3 {
  letter-spacing: -0.02em;
  font-weight: 700;
  font-style: normal;
  font-size: 26px;
  line-height: 1.22;
  letter-spacing: -0.012em;
}

.ProseMirror p {
  font-family: 'PT Serif', Arial, Cambria, 'Times New Roman', Times, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 21px;
  line-height: 1.58;
  letter-spacing: -0.003em;
  position: relative;
}

.ProseMirror *.completing:after {
  content: '';
  width: 18px;
  height: 18px;
  border: 2px solid #ccc;
  border-top-color: #333;
  border-radius: 50%;
  animation: completing 0.8s linear infinite;
  position: relative;
  display: inline-block;
  margin-left: 5px;
  vertical-align: middle;
}

@keyframes completing {
  0% {
    transform: rotate(0deg);
    opacity: 1;
  }

  50% {
    transform: rotate(180deg);
    opacity: 0.5;
  }

  100% {
    transform: rotate(360deg);
    opacity: 0.5;
  }
}

.ProseMirror p:first-child:before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

.ProseMirror *.completing.is-empty:before {
  content: '';
}

.ProseMirror *.completing.is-empty br {
  display: none;
}

.ProseMirror img {
  max-width: 99%;
  height: auto;
  margin: 0;
  display: inline-block;
}

.ProseMirror blockquote {
  padding-left: 1rem;
  border-left: 2px solid hsl(var(--muted));
}

.ProseMirror hr {
  border: none;
  border-top: 2px solid hsl(var(--muted));
  margin: 2rem 0;
}

.ProseMirror a {
  text-decoration: underline;
  color: hsl(var(--text-foreground));
  cursor: pointer;
  display: inline-block !important;
}

.ProseMirror pre {
  font-family: 'JetBrainsMono', monospace;
}

.ProseMirror code {
  background-color: #6161611a;
  color: #616161;
  font-family: monospace;
  font-weight: 500;
}

.ProseMirror code:before,
.ProseMirror code:after {
  display: none;
}

/*!
  Theme: GitHub Dark Dimmed
  Description: Dark dimmed theme as seen on github.com
  Author: github.com
  Maintainer: @Hirse
  Updated: 2021-05-15

  Colors taken from GitHub's CSS
*/

.hljs {
  color: #adbac7;
  background: #22272e;
}

.hljs-doctag,
.hljs-keyword,
.hljs-meta .hljs-keyword,
.hljs-template-tag,
.hljs-template-variable,
.hljs-type,
.hljs-variable.language_ {
  /* prettylights-syntax-keyword */
  color: #f47067;
}

.hljs-title,
.hljs-title.class_,
.hljs-title.class_.inherited__,
.hljs-title.function_ {
  /* prettylights-syntax-entity */
  color: #dcbdfb;
}

.hljs-attr,
.hljs-attribute,
.hljs-literal,
.hljs-meta,
.hljs-number,
.hljs-operator,
.hljs-variable,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-selector-id {
  /* prettylights-syntax-constant */
  color: #6cb6ff;
}

.hljs-regexp,
.hljs-string,
.hljs-meta .hljs-string {
  /* prettylights-syntax-string */
  color: #96d0ff;
}

.hljs-built_in,
.hljs-symbol {
  /* prettylights-syntax-variable */
  color: #f69d50;
}

.hljs-comment,
.hljs-code,
.hljs-formula {
  /* prettylights-syntax-comment */
  color: #768390;
}

.hljs-name,
.hljs-quote,
.hljs-selector-tag,
.hljs-selector-pseudo {
  /* prettylights-syntax-entity-tag */
  color: #8ddb8c;
}

.hljs-subst {
  /* prettylights-syntax-storage-modifier-import */
  color: #adbac7;
}

.hljs-section {
  /* prettylights-syntax-markup-heading */
  color: #316dca;
  font-weight: bold;
}

.hljs-bullet {
  /* prettylights-syntax-markup-list */
  color: #eac55f;
}

.hljs-emphasis {
  /* prettylights-syntax-markup-italic */
  color: #adbac7;
  font-style: italic;
}

.hljs-strong {
  /* prettylights-syntax-markup-bold */
  color: #adbac7;
  font-weight: bold;
}

.hljs-addition {
  /* prettylights-syntax-markup-inserted */
  color: #b4f1b4;
  background-color: #1b4721;
}

.hljs-deletion {
  /* prettylights-syntax-markup-deleted */
  color: #ffd8d3;
  background-color: #78191b;
}

.hljs-char.escape_,
.hljs-link,
.hljs-params,
.hljs-property,
.hljs-punctuation,
.hljs-tag {
  /* purposely ignored */
}

.ProseMirror code:not(:where([data-code-type='code-block'])) {
  border: none;
  padding: 0;
  border-radius: 0;
}

.tippy-box,
.tippy-content {
  outline: none;
  /* TODO: Improve accessibility */
}

.ProseMirror .image-error {
  @apply block bg-red-50 border border-red-300 relative w-full h-32 text-base font-normal font-sans;
}

.ProseMirror .is-editor-empty:first-child::before {
  content: attr(data-placeholder);
  float: left;
  color: #9ca3af;
  pointer-events: none;
  height: 0;
}

.ProseMirror .is-empty::before {
  content: attr(data-placeholder);
  float: left;
  color: #9ca3af;
  pointer-events: none;
  height: 0;
}

ul[data-type='taskList'] li[data-checked='true']>div>p {
  color: #9ca3af;
  text-decoration: line-through;
  text-decoration-thickness: 2px;
}